/* styles.css */

body {
    font-family: 'Arial', sans-serif;
}

.col-md-8 {
    background-color: #fff9e1 !important; /* Ajusta al color deseado */
}

.bg-secondary {
    background-color: #ab977f !important; /* Color marrón claro */
}

.text-white {
    color: #fff !important;
}

.display-4 {
    font-family: "Allura", cursive;
    font-size: 7rem;
    color: #6d4c41; /* Color marrón oscuro para el texto */
    font-weight: 700;
}

.btn-outline-secondary {
    background-color: #e9cfaf;
    border-color: #e4c9b2;
    color: #6d4c41;
}

.btn-outline-secondary:hover {
    background-color: #d3b498;
    border-color: #d3b498;
    color: #6d4c41;
}

.btn-secondary {
    background-color: #a08458;
    border-color: #a08458;
    color: white;
}

.btn-secondary:hover {
    background-color: #8b704a;
    border-color: #8b704a;
}

.btn-custom {
    background-color: #fff9e1;
    border: 2px solid #a08458;
    color: #6d4c41;
    font-size: 1.25rem;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn-custom:hover {
    background-color: #d3b498;
    border-color: #8b704a;
}

.custom-img {
    max-width: 60%; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin: 5px 0;
}

input[type="submit"] {
    margin-top: 10px;
}

.registro-container {
    background-color: #fff8e1;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registro-container h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #6c757d;
}

.registro-container .form-group label {
    font-weight: bold;
    color: #6c757d;
}

.registro-container .btn-primary {
    background-color: #d2a679;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.registro-container .btn-primary:hover {
    background-color: #b88a5c;
}

/* Nuevos estilos añadidos para la vista de reserva */
.reservation-page body {
    font-family: Arial, sans-serif;
    background-color: #f8f3e7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.reservation-page .container {
    position: relative;
    width: 50%;
    max-width: 600px;
    padding: 20px;
    background-color: #f0ead6;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1;
}

.reservation-page .reservation-form {
    margin: auto;
}

.reservation-page h1 {
    font-size: 2em;
    color: #5c3c10;
    margin-bottom: 20px;
}

.reservation-page form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reservation-page label {
    font-size: 1.2em;
    color: #5c3c10;
}

.reservation-page input {
    padding: 10px;
    border: 1px solid #5c3c10;
    border-radius: 5px;
    font-size: 1em;
}

.reservation-page button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f8f3e7;
    color: #5c3c10;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reservation-page button:hover {
    background-color: #5c3c10;
    color: #f8f3e7;
}

.reservation-page .circle {
    position: absolute;
    border-radius: 50%;
    background-color: #c2b097;
    z-index: 0;
}

.reservation-page .circle1 {
    width: 150px;
    height: 150px;
    top: 5%;
    left: 5%;
}

.reservation-page .circle2 {
    width: 100px;
    height: 100px;
    bottom: 10%;
    right: 10%;
}
