<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservaciones</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'reservaciones/styles.css' %}">
</head>
<body class="bg-light">
    <div class="container-fluid">
        <div class="row vh-100">
            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center bg-secondary text-white">
                <div class="text-center mb-5">
                    <h2>Dejar comentarios</h2>
                </div>
                <img src="{% static 'reservaciones/table_image.png' %}" class="img-fluid" alt="Mesa">
            </div>
            <div class="col-md-8 d-flex flex-column justify-content-center align-items-center bg-light">
                <h1 class="display-4">BOOK UR TABLE</h1>
                <div class="d-flex justify-content-around w-50 my-4">
                    <button class="btn btn-outline-secondary">Iniciar sesión</button>
                    <button class="btn btn-outline-secondary">Registrarse</button>
                </div>
                <button class="btn btn-secondary btn-lg">Reserva una mesa</button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
